body{
    height: 350vh;
    margin: 0;
}

.navbar{
    /* border: 1px solid red; */
    background-color: black;
    height: 56px;
    display: flex;
    Justify-content: Space-between;
    margin: 0;
    padding: 0;

}
.signup, ul{
    list-style-type: none;
    
}
.signup, ul, a{
    text-decoration: none;
    color: white;
    font-family: Proxima Nova Regular, sans-serif; 
    font-weight: lighter;
    position: relative;
    top: 1px;
    right: 10px;

}
.paramountlogo{
    position: relative;
    top: 15px;
    right: -27px;
}
.logo{
    height: 21px;
    width: 95px
}
.main{
    height: 650px;
    width: 450px;
    border: 1px solid green;
    margin: 30px auto 0 auto;
}
.hr{
    margin: 0;
}
.email{
    height: 45px;
    width: 450px;
    border: 1px solid pink
}
.password{
    height: 45px;
    width: 450px;
    border: 1px solid pink
}
.cont-btn{
    height: 45px;
    width: 450px;
    border: 1px solid pink;

}
.frgtpass{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    text-align: center;
}
.frgtpass, p{
    padding-bottom: 6px;
}
.rule-or{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    display: flex;
    align-items: center;
}
.ruled{
    flex: 1;
    margin: 0 10px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
}
.memo{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    text-align: center;
    padding-bottom: 5px;
}
a{
    color: blue;
}
.cnct-btn{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    position: absolute;
    right: 162px;
    top: 444px;
}
.btn{
    height: 45px;
    background-color:white;
    color: blue;
    border: 1px solid blue;
    padding: 0 35px 0 35px;
    margin: 10px;
}
.btn:hover{
    cursor: pointer;
}
.footer{
    height: 650px;
    width: 450px;
    border: 1px solid purple;
    position: absolute;
    top: 750px;
    left: 285px
}
.logo2{
    position: absolute;
    left: 155px;
    margin: 5px
}
.txt{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    position: absolute;
    top: 45px ;
    
}
.txt2{
    text-align: center;

}
.links{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    position: absolute;
    top: 125px;
}
.fb{
    position: absolute;
    left: 125px
}
.twtr{
    position: absolute;
    left: 175px;
}
.yt{
    height: 45%;
    position: absolute;
    left: 230px
}
.insta{
    height: 47%;
    position: absolute;
    left: 290px
}
.copywrite{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    position: absolute;
    top: 90px;
    text-align: center;
}
.site{
    height: 45px;
    width: 450px;
    border: 1px solid pink;
    position: absolute;
    top: 180px;
    text-align: center;
}
.site2{
    position: relative;
    top: 225px;
}
.info{
    position: relative;
    top: 270px
}   